$completedTasksColor: #40e31b;
$taskListBackgroundColor: #282c34;
$taskInfoBackgroundColor: #353b45;
$addTaskButtonBackgroundColor: #79b6f2;

.taskList {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  margin: 20px auto 0 auto;
  background-color: $taskListBackgroundColor;

  &__taskInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: $taskInfoBackgroundColor;
  }

  &__taskInfoCounter {
    margin: 0;

    font-weight: bold;

    &_completedTasks {
      color: $completedTasksColor;
    }
  }

  &__addTaskNameInput {
    flex-grow: 1;

    font-size: 1.2em;
  }

  &__addTaskButton {
    border: 0;
    padding: 0 10px;
    background-color: $addTaskButtonBackgroundColor;
    font-weight: bold;
  }

  &__addTaskBlock {
    display: flex;
    width: 100%;
    height: 30px;
  }
}